{
  "presets": [
    "react",
    ["env",
      {
        "targets": {
          "browsers": "> 5%"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
   ]
}
