{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "no-debugger": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}
